#root {
  --primary-box-shadow: rgb(28 28 28 /8%) 0px 2px 8px;
  --border-white: rgb(232, 232, 232);
  --primary-bg: rgb(255, 255, 255);
  --zomato-red: rgb(255, 126, 139);
  --zomato-gray: rgb(164, 164, 164);
  --inactive-text: #696969;
  --inactive-color: #f8f8f8;
  --collection-shadow: rgb(0 0 0 / 8%) 0px 3px 12px ;
}
